header{
    display: flex;
    flex-direction: column;
}
  
#header-content{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
  
article{
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 5rem;
}
  
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 10rem;
}
  
#selection{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: aliceblue;
}

#footer{
    margin-left: 15rem;
    margin-top: 3.5rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    color: black;
}

#sub_but_fim{
    margin-left: 45%;
    margin-right: 45%;
}